<header>
    <h1>
        armazenar imagens no banco de dados mysql
    </h1>
</header>
<section>
    <form action="/upload" method="POST" enctype="multipart/form-data">
    <fieldset>
        <label for="file">Arquivo</label>
        <br>
        <input type="file" name="file">
    </fieldset>
    <fieldset>
        <input type="submit" value="upload">
    </fieldset>
    </form>
</section>